
body {
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
    font-weight: 100;
    color: #fff;
    background: url('../images/background.jpg') no-repeat fixed;
    background-position: cover;
    text-align: center;

}

@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
.jumbotron {
    background: url('../images/header.png') no-repeat;
    height: 100%;
    width: 100%;
    background-position: right 0px;
    background-size: cover;
    margin-bottom: 5%;
    text-align: center;
}
.jumbotron p {
      color: #fff;
      font-weight: 100;
      margin-top: 15%;
      font-size: 5em;
}
#intro-text {
  margin-left: 27%; 
  margin-right: 27%; 
  text-align: left; 
  font-size: 1.9em; 
  position: absolute; 
  bottom: 5%; 
}
@media screen and (max-width: 1000px) {
    .jumbotron p {
      font-size: 3em;
    }
    #intro-text {
      font-size: 1.5em;
      margin-left: 5%;
      margin-right: 5%;
    }
}

.center-text {
    text-align: center;
}

.social:hover {
     -webkit-transform: scale(1.4);
     -moz-transform: scale(1.4);
     -o-transform: scale(1.4);
 }
 .social {
    width: 8%;
    margin-top: 3%;
    margin-bottom: 5%;
    margin-right: 3%;
    margin-left: 3%;
     -webkit-transform: scale(1);
     /* Browser Variations: */
     
     -moz-transform: scale(1);
     -o-transform: scale(1);
     -webkit-transition-duration: 0.5s;
     -moz-transition-duration: 0.5s;
     -o-transition-duration: 0.5s;
 }

/*
    Multicoloured Hover Variations
*/
 
hr { 
  border: none;
  width: 80%; 
  background: #fff; 
  height: 1px;
}

footer {
    font-size: 1.2em;
}
figure.snip1477 {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 425px;
    height: 270px;
    color: #ffffff;
    text-align: center;
    background-position: center;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5%;
    border: 1px solid silver;

}
figure.snip1477 *,
figure.snip1477 *:before,
figure.snip1477 *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.55s ease;
  transition: all 0.55s ease;
}
figure.snip1477 img {
    max-width: 85%;
  max-height: 85%;
  backface-visibility: hidden;
  vertical-align: center;
  padding-top: 8%;
}
figure.snip1477 .title {
  position: absolute;
  top: 58%;
  left: 25px;
  padding: 5px 10px 10px;
}
figure.snip1477 .title:before,
figure.snip1477 .title:after {
  height: 2px;
  width: 400px;
  position: absolute;
  content: '';
  background-color: #ffffff;
}
figure.snip1477 .title:before {
  top: 0;
  left: 10px;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);

}
figure.snip1477 .title:after {
  bottom: 0;
  right: 10px;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}
figure.snip1477 .title div:before,
figure.snip1477 .title div:after {
  width: 2px;
  height: 300px;
  position: absolute;
  content: '';
  background-color: #ffffff;
}
figure.snip1477 .title div:before {
  top: 10px;
  right: 0;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}
figure.snip1477 .title div:after {
  bottom: 10px;
  left: 0;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}
figure.snip1477 h2,
figure.snip1477 h4 {
  margin: 0;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 2.8em;
  text-align: left;
}
figure.snip1477 h2 {

  text-shadow: 2px 2px 0 #000;
}
figure.snip1477 h4 {
  display: block;
  background-color: #ffffff;
  border: 1px solid black;
  padding: 5px 10px;
  color: #000000;
}
figure.snip1477 figcaption {
  position: absolute;
  bottom: 42%;
  left: 25px;
  text-align: left;
  opacity: 0;
  padding: 5px 8px 5px 10px;
  font-size: 1.3em;
  font-weight: 100;
  letter-spacing: 1.5px;
}
figure.snip1477 figcaption p {
  margin: 0;
}
figure.snip1477 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
figure.snip1477:hover img,
figure.snip1477.hover img {
  zoom: 1;
  filter: alpha(opacity=40%);
  -webkit-opacity: 0.4;
  opacity: 0.4;
  filter: brightness(60%);
}
figure.snip1477:hover .title:before,
figure.snip1477.hover .title:before,
figure.snip1477:hover .title:after,
figure.snip1477.hover .title:after,
figure.snip1477:hover .title div:before,
figure.snip1477.hover .title div:before,
figure.snip1477:hover .title div:after,
figure.snip1477.hover .title div:after {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);

}
figure.snip1477:hover .title:before,
figure.snip1477.hover .title:before,
figure.snip1477:hover .title:after,
figure.snip1477.hover .title:after {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}
figure.snip1477:hover figcaption,
figure.snip1477.hover figcaption {
  opacity: 1;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
.tech-used {
    font-size: 0.8em;
}